<script setup lang="ts">
import { ref } from "vue";
import { useUserStore } from "@/stores/user"
import type { VForm } from "vuetify/components";
const userStore = useUserStore();
const form = ref< VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if ( valid ) {
    userStore.saveUser();
  }
};
const clear = () => {
  userStore.dialog = false
}
</script>
<template>
  <v-row justify="center">
    <v-dialog
      v-model="userStore.dialog"
      persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
            <v-row>
              <v-col
                cols="12"

              >
                <v-text-field
                  label="Login*" 
                  v-model="userStore.editedUser.login"
                  :rules="[
                    (V) => !!V || 'Login จะต้องไม่เป็นช่องว่าง',
                    (V) => V.length >= 5 || 'Login จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
              >
                <v-text-field
                  label="Name"
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (V) => !!V || 'ชื่อจะต้องไม่เป็นช่องว่าง',
                    (V) => V.length >= 5 || 'ชื่อจะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                  ]"
                ></v-text-field>
              </v-col>
              
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  v-model="userStore.editedUser.password"
                  type="password"
                  :rules="[
                    (V) => !!V || 'Password จะต้องไม่เป็นช่องว่าง',
                    (V) => V.length >= 5 || 'Password จะต้องมีขนาดมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                    (V) => /^(?=.*\d)(?=.*[!@#$%^&*_])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(V) || 'Password จะต้องประกอบไปด้วย ตัวเลข ตัวอักษรเล็ก-ใหญ่ และประกอบไปด้วยตัวอักษรพิเศษ'
                  ]"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          </v-form>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="clear"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>